$text-gelap : #161A42;

.signin {
    background-color: white;
    border-radius: 12px;
    padding: 10px;
    margin: auto;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    margin-top: 60px;

    h1 {
        text-align: center;
        background-image: linear-gradient(45deg, #179fec, #8184f0, #e96af4);
        background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
    }

    p:nth-child(2) {
        text-align: center;
        margin-top: -20px;
        margin-bottom: 40px;
        color: $text-gelap;
        font-size: .8rem;
    }

    p:nth-child(6) {
        text-align: center;
        color: $text-gelap;
        margin-top: 40px;
        font-size: .8rem;
    }

    input {
        margin-bottom: 10px;
        border: none;
        border-radius: 10px;
        padding: 10px;
        background-color: rgb(211, 211, 211);
    }
}