$text-gelap : #161A42;

.signin {
    background-color: aliceblue;
    border-radius: 12px;
    padding: 10px;
    margin: auto;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    margin-top: 60px;

    h1 {
        text-align: center;
    }

    p:nth-child(2) {
        text-align: center;
        margin-top: -20px;
        margin-bottom: 40px;
        color: $text-gelap;
        font-size: .8rem;
    }

    p:nth-child(6) {
        text-align: center;
        color: $text-gelap;
        margin-top: 40px;
        font-size: .8rem;
    }

    input {
        margin-bottom: 10px;
        border: none;
        border-radius: 10px;
        padding: 10px;
    }
}