.ketSurah {
    background: linear-gradient(90deg, rgba(23, 159, 236, 1) 0%, rgba(129, 132, 240, 1) 50%, rgba(233, 106, 244, 1) 100%);
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px;
    color: white;
    border-radius: 12px;
    text-align: center;
}