@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');

.homeDetail {
    text-align: center;
    background: linear-gradient(90deg, rgba(23, 159, 236, 1) 0%, rgba(129, 132, 240, 1) 50%, rgba(233, 106, 244, 1) 100%);
    padding: 20px;
    color: white;
    margin: 20px;
    min-height: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;


    div {
        &:nth-child(1) {
            font-family: 'Nunito', 'sans-serif';
            font-size: 3.5rem;
        }

        &:nth-child(2) {
            font-size: 1.5rem;
        }
    }
}

.homeQuran {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .titleInner {
        font-size: 24px;
        margin-bottom: 20px;
        font-weight: 600;
        background-image: linear-gradient(45deg, #179fec, #8184f0, #e96af4);
        background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
    }
}

.searchSurah {
    border: none;
    border-radius: 12px;
    padding: 15px;
    font-size: 1.1rem;
    width: 65%;
}

.allSurah {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    max-width: 1200px;
    margin-top: 20px;
    margin-bottom: 40px;
}