.myNavbar {
    background-color: white;
    width: 100% !important;

    .innerNavbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1280px;
        margin: auto;
        padding: 5px 0 5px 0;
    }

    .logoNavbar {
        a {
            text-decoration: none;
            color: black
        }
    }

    .menuNavbar {
        display: flex;
        justify-content: space-around;
        align-items: center;

        a {
            text-decoration: none;
        }

        p {
            margin: 0 20px 0 20px;
            cursor: pointer;
            color: gray;
        }
    }

    .btnhNavbar {
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            text-decoration: none;
        }

        div {
            margin: 4px;
            background-color: #EBEFF3;
            padding: 10px;
            border-radius: 12px;
            color: gray;
            cursor: pointer;

            &:hover {
                background-color: #2FC6EA;
                color: white;
                transition: .5s;
            }
        }
    }
}